.btn-light {
  color: white;
  background-color: transparent;
  border: none;
  transform: translateX(10px);
}

.btn-light:hover {
  background-color: $secondary;
  border-radius: 0;
}

.btn-dark {
    color: $primary;
    border: none;
    border-radius: 5px;
    background-color: $secondary;
}

.btn-dark:hover {
    color: $primary;
    background-color: $secondary-light;
    border-radius: 5px;
  }