body {
  padding: 0 10% 10% 10%;
}

#name {
  text-align: center;
  font-family: $body-font;
  text-transform: uppercase;
  padding-top: 10%;
  padding-bottom: 0;
  color: #b2b2b2;
  font-size: 1.4em;
}

#hero {
  text-align: center;
  padding-top: 0;
  padding-bottom: 10%;
}

#contact {
  text-align: center;
  padding-top: 5vh;
}

#social {
  list-style: none;
  display: flex;
  color: $grey;
  justify-content: space-around;
}

footer {
  padding-top: 20vh;
}
